.hover:hover {
    color: #f17901!important;
}
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}
a, a:hover {
    text-decoration: none !important; 
}
.footer-48201 {
    padding: 7rem 0;
    background-color: #000;
    color: #777; 
}
.footer-48201 .footer-site-logo {
    font-size: 1.5rem;
    color: #fff; 
}
.footer-48201 .nav-links li {
    margin-bottom: 10px; 
}
.footer-48201 .nav-links li a {
    color: gray; }
.footer-48201 .nav-links li a:hover {
    color: #fff; 
}
.footer-48201 .btn.btn-tertiary {
    background-color: #e42c64;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px; 
}
.footer-48201 .social li {
      display: inline-block; }
.footer-48201 .social li a {
        color: gray;
        padding: 7px; 
}
.footer-48201 .social li a:hover {
    color: #fff; 
}
.footer-48201 .copyright {
    border-top: 1px solid #404040; 
}